@model IEnumerable<WebApplication1.Models.Specialist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecialistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialistCertificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.SpecialistFacebookLinck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialistInstgramLinck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialistTwiterLinck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialistCertificate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.SpecialistFacebookLinck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialistInstgramLinck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialistTwiterLinck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpecialistId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpecialistId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpecialistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
